.flex-containerpf {
  display: flex;
  flex-direction: column;
}

.col-1pf {
  flex: 0 0 10%;
}

.col-2pf {
  flex: 0 0 10%;
}

.col-3pf {
  flex: 0 0 70%;
}

.col-4pf {
  flex: 0 0 10%;
  padding-top: 20px;
}

.flex-container1pf {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.row-11pf {
  flex: 0 0 35%;
}

.row-31pf {
  display: flex;
  flex-direction: row;
  flex: 0 0 65%;
  justify-content: flex-end;
  align-items: center;
}

.row-31pf {
  margin-right: 20px;
  padding: 0.25rem 1rem;
  justify-content: center;
  margin-left: 250px;
}

/* .row-31pf button:hover,
.button:active {
  background: #bbc7cb;
  border-color: #92cde4;
} */

table {
  border-collapse: collapse;
}

td {
  border: 0px 0px 1px solid black;
  text-align: left;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}

tr:first-child {
  padding-left: 10px;
  font-weight: 400;
}

tr:nth-child(2n) {
  background-color: #becdd5;
}


.containerpf {
  display: flex;
}

.boxpf {
  flex: 1;
  border: 1px solid rgb(220, 201, 201);
  margin: 8px;
  border-radius: 5px;
}

.containerpf {
  display: flex;
  flex-direction: row;
}

.columnpf {
  flex: 1;
}

.columnpf-leftpf p{
    padding-left: 40px;
}

.columnpf-rightpf p{
    padding-left: 140px;

}