.gradient-button {
  background: linear-gradient(to right,#e2c5e2, #769ebd );
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  margin-left: 10px;
    align-self: center;
}

.gradient-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 600px) {
  .gradient-button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
