.card {
    background: rgb(218, 213, 213);
    box-shadow: 0 2px 8px #1b4174;
    border-radius: 10px;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 5%;
    /* display:flex;  */
    /* flex-direction:row; */
  }

.MuiContainer-root {
    background-color: #eae2e8;
    margin-top: -698px;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-bottom: 400px;
}

